$background: #322f37;
$primary: #a86370;
$secondary: #feba66;
$tertiary: #f9f871;

$navbarHeight: 3rem;
$pageHeight: calc(100vh - #{$navbarHeight});

* {
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: $background;
}

/*  Navbar  */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
  height:  $navbarHeight;
  width:  calc(100vw - 1rem);
  font-size: 1.2rem;

  background: linear-gradient(to right, $primary, $secondary);
  border-radius: 20px;
}

.nav-titles {
  margin: 0 2rem;
  text-decoration: none;
  color: black;
}
.nav-titles:hover {
  color: $tertiary;
  cursor: pointer;
}

/* Page */
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $pageHeight;
  width: 100vw;
}


/*  CV  */
.card {
  display: flex;
  background-color: white;
  width: calc(50vw - 6rem);
  height:  calc(50vh - 5rem);
  margin: 1rem 2rem;
  border-radius: 1rem;
}
